@import "./variables.scss";
.banner{
    position: relative; 
    height: 100vh;
}
.overlay{
    height: 0;
    width: 100%;
    background-color: $primary;
    position: absolute;
    bottom: 0;
    left: 0;
}
.bannerContainer{
    width: 100%;
    padding: 40px;
    background-color: $secondary;
    min-height: 100vh;

    @include breakpoint("md"){
        padding: 40px 20px;
    }
    @include breakpoint("xlg"){
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
}
.banner-title{
    font-family: $heading-font;
    font-size: 240px;
    line-height: 260px;
    height: 260px;
    overflow: hidden;
    text-align: center;
    letter-spacing: -0.05em;
    color: $complementary;
    white-space: nowrap;

    @include breakpoint("xlg"){
        font-size: 200px;
        line-height: 220px;
        height: 220px;
    }
    @include breakpoint("md-lg"){
        font-size: 160px;
        line-height: 180px;
        height: 180px;
    }
    @include breakpoint("md"){
        font-size: 140px;
        line-height: 160px;
        height: 160px;
    }
    @include breakpoint("sm"){
        font-size: 120px;
        line-height: 140px;
        height: 140px;
    }
    @include breakpoint("xxsm"){
        font-size: 100px;
        line-height: 120px;
        height: 120px;
    }
    @include breakpoint("xssm"){
        font-size: 80px;
        line-height: 100px;
        height: 100px;
    }
    @include breakpoint("xss"){
        font-size: 70px;
        line-height: 90px;
        height: 90px;
    }
    @include breakpoint("xs"){
        font-size: 60px;
        line-height: 80px;
        height: 80px;
    }
}
.inline-banner-title{
    display: inline-block;
    transform: translateY(200%) skewY(15deg);

}
.banner-image-container{
    width: 100%;
    height: auto;
}
.banner-image-container img{
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: drop-shadow(2px 2px 2px #000);
}
.banner-content{
 width: 100%;
 z-index: 10;
 display: none;

 @include breakpoint("lg"){
    display: block;
 }
 @include breakpoint("sm"){
    margin-top: 50px;
 }
}
.banner-content-title{
    font-family: $text-font-medium;
    font-size: 26px;
    line-height: 36px;
    height: 36px;
    color: $little;
    text-align: center;
    overflow: hidden;

    span{
        transform: translateY(200%)  skewY(15deg);
        display: inline-block;
       
    }

    @include breakpoint("xssm"){
        font-size: 18px;
        line-height: 28px;
        height: 38px;
     }
}

.banner-content-content{
    font-family: $heading-font;
    font-size: 32px;
    height: 50px;
    line-height: 50px;
    color: $secondary;
    text-align: center;
    overflow: hidden;
    

    .banner-content-up{
        transform: translateY(200%) skewY(10deg);
        display: inline-block;
    }

    @include breakpoint("sm"){
        font-size: 24px;
        height: 34px;
    line-height: 34px;
     }
    @include breakpoint("xssm"){
        font-size: 18px;
        height: 28px;
    line-height: 28px;
     }
}
.banner-buttons{
    z-index: 10;
    margin-top: 20px;
    display: none;

 @include breakpoint("lg"){
    display: flex;
    visibility: hidden;
    justify-content: center;
    width: 100%;
    align-items: center;
 }
 @include breakpoint("xxsm"){
    flex-direction: column;
 }
}
.banner-button{
    width: 350px;
    height: 60px;
    background-color: transparent;
   border: 1px solid $complementary;
    color: $secondary;
    border-radius: 30px;
    font-family: $heading-medium;
    font-size: 16px;
    margin-right: 20px;
    display: flex;
    padding: 15px 20px;
    align-items: center;
    position: relative;

    .banner-button-text{
        opacity: 0;
    }

    @include breakpoint("xxsm"){
        width: 100%;
        margin-bottom: 30px;
     }
}
.iconContainer{
    position: absolute;
    right: 85%;
    transform: rotate(90deg);
    top: 0;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px 0;
    background-color: $tertiary;
}
.banner-button-icon{
    font-size: 32px;
    color: $secondary;
}
