@import './variables.scss';
.design{
    position: relative;
    width: 100vw;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include breakpoint("xxlg"){
       height: auto;
           }
    h2{
        position: absolute;
        width: 50%;
        color: #434343c7;
        font-weight: 500;
        font-family: $heading-font;
        top: 5%;
        margin-bottom: 40px;

        span{
            color: #000;
        }
        @include breakpoint("xxlg"){
            padding: 40px 0;
            position: static;
        }
        @include breakpoint("sm"){
          width: 100%;
          padding: 40px;
        }
        @include breakpoint("xsm"){
            font-size: 18px;
        }
    }

    .design-image{
        width: 60%;
        position: absolute;
        bottom: 0%;
        @include breakpoint("xxlg"){
     position: static;
     transform: translateY(10px);
     width: 80%;
        }
        @include breakpoint("xsm"){
            width: 90%;
            transform: translateY(23px);
        }
    }

   .design-text-Content{
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    z-index: 10;
    text-align: center;
    @include breakpoint("xxlg"){
        position: static;
        transform: translateY(-60px);
           }
    @include breakpoint("xsmm"){
        transform: translateY(-30px);
           }

    p{
        color: #000;
        font-size: 18px;
        display: flex;
        font-family: $heading-font;
        font-size: 36px;
        letter-spacing: -0.05em;
        color: $complementary;
        align-items: center;
        justify-content: center;
        height: 30px;
        line-height: 30px;

        @include breakpoint('md'){
            font-size: 24px;
        }
        @include breakpoint('xsm'){
            font-size: 18px;
        }
        @include breakpoint('xsmm'){
            font-size: 15px;
        }

        span{
            display: inline-block;
        }
.text-content-design{
    color: $primary;
    margin-left: 10px;
}
        .design-content-button{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $tertiary;
            margin-left: 40px;
            cursor: pointer;
            @include breakpoint('md'){
                width: 70px;
            height: 70px;
            margin-left: 20px;
            }
            @include breakpoint('xsm'){
                width: 60px;
            height: 60px;
            }
            @include breakpoint('xsmm'){
                width: 50px;
            height: 50px;
            }
        }
        .design-content-icon{
            fill: #fff;
            width: 40px;
            height: 40px;
        z-index: 5;

        @include breakpoint('md'){
            width: 25px;
        height: 25px;
        }
        @include breakpoint('xsm'){
            width: 20px;
        height: 20px;
        }
        }
    }
   }
}