@import "./variables.scss";
.Detail{
    padding: 40px;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: $secondary;
    @include breakpoint("sm"){
        padding: 40px 20px;
    }

    .detailheader{
        width: 100%;
        text-align: center;
      
            
          h1{
            font-style: normal;
            font-weight: 600;
            font-size: 64px;
            line-height: 76px;
            text-align: center;
            letter-spacing: -0.05em;
            width: 100%;
           overflow-y: hidden;
           
            color: $primary;
            font-family: $heading-font;
            text-transform: capitalize;
            @include breakpoint("md"){
                font-size: 54px;
                line-height: 65px;
            }
            @include breakpoint("sm"){
                font-size: 42px;
                line-height: 50px;
            }
            @include breakpoint("xsm"){
                font-size: 32px;
                line-height: 40px;
            }
            @include breakpoint("xsmm"){
                font-size: 28px;
                line-height: 34px;
            }
            @include breakpoint("xs"){
                font-size: 24px;
                line-height: 30px;
            }
            .title_line{
                display: block
            }
            .colorText{
                color: $tertiary;
                display: inline-block;
            }
          }
    }

    .detailBottom{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 40px;

        @include breakpoint('sm'){
            display: none;
        }

        ul{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            list-style: none;
            

            li{
                text-align: center;
                display: inline-block;
                h1{
                    font-family: $text-font-medium;
                    font-style:normal;  
                    letter-spacing: 0.10em;
                    font-size: 18px;
                    color: #000;

                    @include breakpoint("md"){
                        font-size: 16px;
                    }
                }
                p{
font-family: $heading-font;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 38px;
letter-spacing: -0.05em;
color: #F25922;

@include breakpoint("md"){
    font-size: 22px;
    line-height: 30px;
}
                }
            }
        }
    }
    .float-left-1{
        top: 40%;
        left: 25%;
        width: 200px;
        transform: translate(-25%, -40%);
    }
    .float-left-2{
        top: 65%;
        left: 30%;
        width: 200px;
        transform: translate(-30%, -65%);
    }
    .float-right-1{
        top: 30%;
        right: 10%;
        width: 200px;
        transform: translate(-10%, -30%);
    }
    .float-right-2{
        top: 55%;
        right: 15%;
        width: 200px;
        transform: translate(-10%, -55%);
    }
    .float-right-3{
        top: 75%;
        right: 10%;
        width: 200px;
        transform: translate(-10%, -75%);
    }
  
    .float-Left, .float-right{
        position: absolute;
       color: $primary;

       @include breakpoint("md"){
        mix-blend-mode: difference;
        color: $secondary;
       }
       
    h1{
        position: relative;
        width: 100%;
            font-family: $heading-font;
            font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
height: 32px;
letter-spacing: -0.05em;
color: $tertiary;
}
        p{
            font-family: $text-font-medium;
            font-size: 14px;
            position: relative;
            width: 100%;
            height: 100%;
    }
    }
    .canvas{
        position: absolute;
        top: 7vh;
        left: 0;
        height: 100%;
        width: 100%;

        @include breakpoint("md-l"){
            top: 0;
        }
        @include breakpoint('sm'){
            top: 7vh;
        }
        @include breakpoint('xsmm'){
            top: 0;
        }
      }
}

