@import "./variables.scss";

    #page17{
    position: relative;
    height: 200vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
    color: #fff;

    @include breakpoint('md'){
        height: auto;
        padding: 40px;
    }

    h4{
        font-size: 1.5vw;
        font-weight: 500;
        margin-bottom: 2vw;
        font-family: $text-font;
    }

    h1{
        font-size: 5vw;
        line-height: 1;
        font-weight: 500;
        margin-bottom: 3vw;
        font-family: $heading-font;

        @include breakpoint('md'){
            font-size: 7vw;
            margin-bottom: 0;
            padding: 4vw 0;
        }
        @include breakpoint('xsmm'){
            font-size: 8vw;
        }
    }

    p{
        font-size: 1.5vw;
        font-weight: 500;
        margin-bottom: 2vw;
        color: #ffffff7c;
        width: 50%;
        font-family: $text-font;
        text-align: center;

        @include breakpoint('md'){
            font-size: 2vw;
            width: 70%;
            margin-top: 2vw;
        }
        @include breakpoint('xxsm'){
            font-size: 2.5vw;
            width: 90%;
            margin: 2vw 0;
        }
        @include breakpoint('xsmm'){
            font-size: 3vw;
            width: 100%;
            margin: 0;
            padding: 4vw 0;
        }

        span{
            color: #fff;
        }
    }
    canvas{
        position: relative;
        max-width: 100vw;
        max-height: 100vh;

        @include breakpoint('md'){
            display: none;
        }
    }
    .tech{
        display: none;
        @include breakpoint('md'){
            display: block;
            width: 100%;
            height: auto;
            margin-top: 6vw;
            transform: scale(1.3);
        }
        @include breakpoint('xsmm'){
           scale: (1.4);
           margin-top: 15vw;
        }
    }
    .technology-text-Content{
        width: 100%;
        z-index: 10;
        text-align: center;
        display: flex;
        justify-content: center;
       padding: 60px 0;
    
        p{
            text-align: center;
            font-size: 18px;
            display: flex;
            font-family: $heading-font;
            font-size: 36px;
            letter-spacing: -0.05em;
            color: $complementary;
            align-items: center;
            justify-content: center;
            height: 30px;
            line-height: 30px;
    width: 100% ;
            
    @include breakpoint('md'){
        font-size: 24px;
    }
    @include breakpoint('xsm'){
        font-size: 18px;
    }
    @include breakpoint('xsmm'){
        font-size: 15px;
    }
    
            span{
                display: inline-block;
            }
    .text-content-technology{
        color: $secondary;
        margin-left: 10px;
    }
            .technology-content-button{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $tertiary;
                margin-left: 40px;
    
                @include breakpoint('md'){
                    width: 70px;
                height: 70px;
                margin-left: 20px;
                }
                @include breakpoint('xsm'){
                    width: 60px;
                height: 60px;
                }
                @include breakpoint('xsmm'){
                    width: 50px;
                height: 50px;
                }
            }
            .technology-content-icon{
                fill: #fff;
                width: 40px;
                height: 40px;
            z-index: 5;
    
            @include breakpoint('md'){
                width: 25px;
            height: 25px;
            }
            @include breakpoint('xsm'){
                width: 20px;
            height: 20px;
            }
            }
        }
}
    }
   
