//Import fonts
@font-face {
    font-family: 'Neue Montreal';
    src: url(../Assets/Fonts/neue/NeueMontreal-Regular.otf) format("opentype");
}

@font-face {
    font-family: 'Neue Medium';
    src: url(../Assets/Fonts/neue/NeueMontreal-Medium.otf) format("opentype");
}

@font-face {
    font-family: 'Neue Bold';
    src: url(../Assets/Fonts/neue/NeueMontreal-Bold.otf) format("opentype");
}
@font-face {
    font-family: 'Sf Pro Display';
    src: url(../Assets/Fonts/FontsFree-Net-SFProDisplay-Semibold.ttf) format('truetype');
}
@font-face {
    font-family: 'Sf Pro Medium';
    src: url(../Assets/Fonts/SFPRODISPLAYMEDIUM.OTF);
}
@font-face {
    font-family: 'Sf Pro Regular';
    src: url(../Assets/Fonts/SFPRODISPLAYREGULAR.OTF) format("opentype");
}
@font-face {
    font-family: 'Monument Extended';
    src: url(../Assets/Fonts/MonumentExtended-FreeForPersonalUse/MonumentExtended-Regular.otf) format("opentype");
};

//Color variables
$primary: #000000;
$secondary: #ffffff;
$tertiary: #F25922;
$complementary: #8D8C91;
$little: #454547;

//Font variables
$heading-font: 'Sf Pro Display';
$heading-medium: 'Sf Pro Medium';
$text-font: 'Neue Montreal';
$text-font-medium: 'Neue Medium';
$text-font-bold: 'Neue Bold';
$text-footer: 'Monument Extended';

//Font Sizes
$large: 260px;
$heading: 64px;
$text-heading: 40px;
$normal-text: 24px;
$large-text: 32px;
$mobile-nav: 48;

//spacing
$large-space: 40px;
$small-space: 20px;  

//breakpoints

$breakpoints: (
    "xs": 399px,
    "xss": 460px,
    "xsmm": 480px,
    "xssm": 560px,
    "xsm": 600px,
    "xxsm": 650px,
    "sm": 760px,
    "md": 900px,
    "md-l": 1050px,
    "md-lg": 1100px,
    "lg": 1200px,
    "xlg": 1300px,
    "xxlg": 1400px
);

@mixin breakpoint($screen-value){
    $mymap: map-get($breakpoints,$screen-value);
    
    @if $mymap{
        @media (max-width: $mymap) {
            @content;
        }
    } @else{
        @error "ooops, couldn't find breakpoint"
    }
   
};