@import "./Styles/details.scss";
@import "./Styles/banner.scss";
@import "./Styles/navbar.scss";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  width: 100%;
  background-color: #fff;
}
body {
 width: 100%;
 overflow-x: hidden;
 background-color: #fff;
}
.container{
  width: 100%;
  background-color: #fff;
}


.top-div{
  height: 100vh;
  background: #000;
}
a {
  color: inherit;
  text-decoration: none;
}


